@charset "UTF-8";

body {
  background-color: rgb(194, 141, 238);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  color: rgb(255, 255, 255);
  background-color: rgb(69, 4, 129);
}

h2 {
  color: rgb(144, 52, 206);
}

p {
  text-align: justify;
}
